.input_wrapper  {
  padding: 10px;

  display: flex;
  flex-direction: column;
  width: max-content;
}

.label {
  font-size: 18px;
  font-weight: 600;
  margin-block: 10px;
  text-transform: capitalize;
}

.input {
  all: unset;
  width: 300px;
  padding: 10px 10px;
  border-radius: 6px;
  border: 1px solid grey;
}

