.modal_container {
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;

  display: flex;
  justify-content: center;
  align-items: center;
}

.overlay {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 2;
}

.modal {
  background-color: var(--color-dark--2);
  position: relative;
  width: 380px;
  z-index: 5;
  padding: 1.2em;
  border-radius: 8px;
}

.modal_header {
  margin-bottom: 10px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.close {
  all: unset;
  border-radius: 3px;
  height: 30px;
  width: 30px;
  font-size: 2.5rem;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;
}

.btn_wrapper {
  margin-top: 1em;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1.5em;
  margin-top: 2em;
}

h3 {
  font-size: 1.8rem;
}

label {
  font-size: 1.4rem;
  font-weight: 500;
}