.app_layout {
  background: var(--color-dark--1);
  height: 100vh;
  padding: 2em;
}

.cta_btn {
  padding: 2em 1.5em;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.user_profile {
  display: flex;
  gap: 1em;
  align-items: center;
}

.user {
  display: flex;
  align-items: center
}

.user p {
  font-size: 16px;
  font-weight: 400;
  color: #000;
}

th {
  font-size: 1.3rem !important;
  text-align: center !important;
}